@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-button {
  @apply  px-4 py-2 rounded-lg font-bold  hover:brightness-110;
}

.primary-button-xl {
  @apply  px-6 py-4 rounded-lg font-bold text-xl hover:brightness-110 transition-colors;
}

.container-xl {
  @apply mx-auto max-w-[1620px];
}

h2 {
  @apply text-4xl min-[435px]:text-5xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

form input {
  @apply px-2 rounded-lg border border-gray-300 text-black;
}

form label {
  @apply block  font-semibold mt-2;
}

.gradient-bg {
  background-image: linear-gradient(to right top, #001b44, #002d6f, #003f9d, #0052cd, #0065ff);
}

.spinner {
  width: 46px;
  height: 46px;
  display: grid;
  animation: spinner-plncf9 3s infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border: 9px solid;
  border-radius: 50%;
  border-color: #474bff #474bff #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner-plncf9 1s infinite linear;
}

.spinner::after {
  border-color: #0000 #0000 #dbdcef #dbdcef;
  animation-direction: reverse;
}

@keyframes spinner-plncf9 {
  100% {
    transform: rotate(1turn);
  }
}
